:root {
    --bg-col: #675569;
}

#pstyle {
    color: #e4f2f0;
}

#topbar .btn {
    background-color: #99d8d0;
    color: var(--bg-col);
    border-radius: 4px;
    border-color: #000000;
    align-self: center;
}

#topbar {
    background-color: var(--bg-col);
}

#style-button {
    background-color: #99d8d0;
    color: var(--bg-col);
}

.jumbotron {
    background-color: var(--bg-col);
}

.table {
    background-color: var(--bg-col);
    white-space: nowrap;
}

th {
    background-color: var(--bg-col);
}

td {
    background-color: var(--bg-col);
}

img {
    height: 1.3em;
}

tr {
    background-color: var(--bg-col);
}

.jumbotron,
.jumbotron h1 {
    color: #e4f2f0;
}

.jumbotron a,
a {
    color: #D3BCC0;
}

a:hover {
    color: #99d8d0
}

body {
    background-color: #e4f2f0;
    color: #FFFFFF;
}

.dicecol {
    display: flex;
    align-items: center;
}

#diceinputs input.dice {
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 1rem;
    line-height: 1.5;
    padding: .375rem .75rem;
    width: 3em;
    height: 3em;
    border: none;
    box-shadow: none;
    text-align: center;
    display: inline-block;
}