:root {
    --bg-col: #675569;
}

#pstyle {
    color: #e4f2f0;
}

#topbar .btn {
    background-color: #99d8d0;
    color: var(--bg-col);
    border-radius: 4px;
    border-color: #000000;
    align-self: center;
}

#topbar {
    background-color: var(--bg-col);
}

#style-button {
    background-color: #99d8d0;
    color: var(--bg-col);
}

.jumbotron {
    background-color: var(--bg-col);
}

.table {
    background-color: var(--bg-col);
    white-space: nowrap;
}

th {
    background-color: var(--bg-col);
}

td {
    background-color: var(--bg-col);
}

td img {
    height: 1.3em;
}

tr {
    background-color: var(--bg-col);
}

.jumbotron,
.jumbotron *,
.jumbotron h1 {
    color: #e4f2f0;
}

.jumbotron a,
a {
    color: #D3BCC0;
}

a:hover {
    color: #99d8d0
}

body {
    background-color: #e4f2f0;
    color: #FFFFFF;
}